{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}} - Edit
{% endblock %}

{% block body %}

    {% if content is None %}
        <h1>Page Not Found</h1>
        Requested page not found.
    {% else %}
    {% if message != "" %}
    <div class="alert alert-danger col-10 message" role="alert">
        {{message}}
    </div>
    {% endif %}
    <div style="margin-bottom: 30px;">
        <h1>Edit Page</h1>
    </div>
    <form action="{% url 'edit' title%}" method="POST">
        {% csrf_token %}
        <div class="content_area_block form-group">
            <label for="edit_content">
                Edit content for <a href="{%url 'entry' title%}">{{title}}</a>:
            </label>
            <textarea class="content_area form-control col-10" name="edit_content" id="edit_content"  rows="10">{{content}}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

    {% endif %}

{% endblock %}