%message{
    font-size: 28px;
    margin: 20px;
    border: 1px solid black;
}

.success{
    @extend %message;
    background-color: springgreen;
}

.fail{
    @extend %message;
    background-color: red;
}