{% extends "auctions/layout.html" %}
{% load widget_tweaks %}
{% load static %}

{% block body %}
<hr>
<main>
    <div class="sub_main" style="height:75vh;">
        <section style="max-width: 1000px; justify-content: center; align-content: center;">
            <form class="create_form" action="{%url 'create'%}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="listing_pic" style="width: 45%;">
                    <div class="pic_container"style="height: 60%; margin:20px auto; max-width: 300px;">
                        <img id="image"/>
                    </div>
                    <div class="form-group listing_form" style="max-width: 250px;">
                        <label for="listing_pic_upload">Or select a file here:</label>
                        {{ form.listing_picture|add_class:'form-control-file'|attr:"id:listing_pic_upload"|attr:"accept:image/*"}}
                        <!-- <input type="file" class="form-control-file" name="listing_pic_upload" id="listing_pic_upload" accept="image/*"> -->
                    </div>
                </div>
                <div class="listing_detail listing_detail_component" style="width: 55%;">
                    
                    <div class="form-group listing_form">
                        <label for="listingname">Listing Name:</label>
                        {{ form.listing_name|add_class:'form-control'|attr:"autofocus"|attr:"required"}}
                        <!-- <input autofocus class="form-control" type="text" name="listingname" placeholder="Listing name" id="listingname" required> -->
                    </div>
                    <div class="form-group listing_form">
                        <label for="startingprice">Starting Price(USD):</label>
                        
                        {{ form.min_bid|add_class:'form-control'|attr:"required"|attr:" min=0"}}
                        <!-- <input class="form-control" type="number" step="0.01" min="0" name="startingprice" placeholder="Starting Price" id="startingprice" required> -->
                    </div>
                    <div class="form-group listing_form">
                        <label for="category">Category:</label>
                        
                        {{ form.category|add_class:'form-control'|attr:"required"}}
                        <!-- <select name="category" class="form-control" id="category" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category }}</option>
                            {% endfor %}
                        </select> -->
                    </div>
                    <div class="form-group listing_form">
                        <label for="description">Description:</label>
                        {{ form.description|add_class:'form-control'|attr:"cols:40"|attr:"rows:5"|attr:"required"}}
                        <!-- <textarea class="form-control" name="description" id="description" cols="40" rows="5" required></textarea> -->
                    </div>
                    
                    <div class="form-group listing_form">
                        <button class="btn btn-primary" type="submit">Begin Auction</button>                    
                    </div>
                </div>
            </form>
        </section>
    </div>

</main>
<script>
  document.getElementById('listing_pic_upload').onchange = function () {
  var src = URL.createObjectURL(this.files[0])
  document.getElementById('image').src = src
}
</script>
    
    
{% endblock %}