{% extends "auctions/login_register.html" %}

{% block form %}

<form action="{% url 'login' %}" class="user_form" method="post">
    {% csrf_token %}
    <div class="form-group ">
        <input autofocus class="form-control" type="text" name="username" placeholder="Username" autofocus>
    </div>
    <div class="form-group ">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
<div class="register_link">
    Don't have an account?
    <a href="{% url 'register' %}">Register here.</a>
</div>

{% endblock %}